USE [disconf]
GO
/****** Object:  Table [dbo].[T_APP]    Script Date: 2016/10/28 13:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_APP](
	[APP_Id] [int] IDENTITY(1,1) NOT NULL,
	[APP_Name] [nvarchar](50) NOT NULL,
	[APP_Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_T_APP] PRIMARY KEY CLUSTERED 
(
	[APP_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_CONFIG]    Script Date: 2016/10/28 13:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CONFIG](
	[CON_Id] [int] IDENTITY(1,1) NOT NULL,
	[CON_Name] [varchar](50) NOT NULL,
	[CON_Value] [nvarchar](max) NOT NULL,
	[APP_Id] [int] NOT NULL,
	[ENV_Id] [int] NOT NULL,
 CONSTRAINT [PK_T_CONFIG] PRIMARY KEY CLUSTERED 
(
	[CON_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_CONFIG_LOG]    Script Date: 2016/10/28 13:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CONFIG_LOG](
	[CONFIG_LOG_Id] [int] IDENTITY(1,1) NOT NULL,
	[USER_Id] [int] NOT NULL,
	[USER_Name] [varchar](50) NOT NULL,
	[CON_Id] [int] NOT NULL,
	[OPT_Time] [datetime] NOT NULL,
	[OPT_Type] [int] NOT NULL,
 CONSTRAINT [PK_T_CONFIG_LOG] PRIMARY KEY CLUSTERED 
(
	[CONFIG_LOG_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_ENV]    Script Date: 2016/10/28 13:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_ENV](
	[ENV_Id] [int] IDENTITY(1,1) NOT NULL,
	[ENV_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_ENV] PRIMARY KEY CLUSTERED 
(
	[ENV_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_USER]    Script Date: 2016/10/28 13:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_USER](
	[USER_Id] [int] IDENTITY(1,1) NOT NULL,
	[USER_Name] [varchar](50) NOT NULL,
	[USER_Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_USER] PRIMARY KEY CLUSTERED 
(
	[USER_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

INSERT INTO dbo.T_USER
        ( USER_Name, USER_Password )
VALUES  ( 'Admin', -- USER_Name - varchar(50)
          '123'  -- USER_Password - varchar(50)
          )
GO

INSERT INTO dbo.T_ENV
        ( ENV_Name )
VALUES  ( 'demo'  -- ENV_Name - varchar(50)
          )
INSERT INTO dbo.T_ENV
        ( ENV_Name )
VALUES  ( 'online'  -- ENV_Name - varchar(50)
          )
GO